.navigation {
  margin-bottom: 15px;
}
h2 {
  width: 100%;
  padding-left: 8px;
  padding-top: 17px;
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 28px;
  color: #050510;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
}
.input_group {
  display: block;
  position: relative;
}
.input_search {
  width: 100%;
  min-height: 40px;
  display: block;
  background: #f7f7f8;
  border-radius: 16px;
  border: none;
  padding-left: 44px;
  padding-right: 44px;
  outline: none;
}
.input_search::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #c3c3c6;
}
.search_icon {
  width: 37px;
  height: 21px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 9px;
  z-index: 1;
}
.search_params {
  width: 34px;
  height: 31px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 13px;
  z-index: 1;
  cursor: pointer;
}
