@import-normalize;

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("./fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("./fonts/Inter-SemiBold.ttf") format("truetype");
}
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a.active {
  text-decoration: none;
  border-bottom: 2px solid #6534ff;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #050510;
}
.header {
  border-bottom: 1px solid #c3c3c6;
}
.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 16px 0;
  height: calc(100% - 154px);
  overflow: auto;
}
